@import 'tailwindcss';

:root {
    --brandDark: #de5e91;
    --brandLight: #de5e70;
    /* #070708; */
    --background: #111111;
    --foreground: #ffffff;
    --foreground-secondary: #aaaaaa;
}
[data-theme='dark'] {
    --brandDark: #de5e91;
    --background: #111111;
    --foreground: #ffffff;
    --foreground-secondary: #aaaaaa;
}

[data-theme='light'] {
    --brandLight: #de5e70;
    --background: #ffffff;
    --foreground: #333333;
    --foreground-secondary: #757575;
}

@layer components {
    .bg-app {
        background: var(--background);
    }

    .text-app {
        color: var(--foreground);
    }

    .text-app-secondary {
        color: var(--foreground-secondary);
    }
}

@theme inline {
    --text-hMain: 32px;
    --text-hSub: 24px;
    --text-hsub-2: 20px;
    --text-body: 16px;
    --text-caption: 14px;

    --font-sans: var(--font-geist-sans), sans-serif;
    --font-mono: var(--font-geist-mono), monospace;
    --font-poppins: var(--font-poppins), sans-serif;
    --font-figtree: var(--font-figtree), sans-serif;
}

body {
    font-family: Poppins;
    background-color: var(--background);
}
